body {background-color: #88bb88;}

h1 {
    font-size: 48px;
    color: darkolivegreen;
}
p {
    font-size: 26px; 
    color: #a1155a
}

.dif-color {
    color: #b400ba;
    text-transform: uppercase;
    
}